@layer base {

    /* Custom Webkit Scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: #E9ECEF;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ADB5BD;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #495057;
    }
}